<ion-content [fullscreen]="true">

  <!-- Header -->
  <div class="headerUI">

    <div class="title-section">

      <ion-text color="light">
        <h1>Create Account</h1>
        <p>Start organizing your tasks today</p>
      </ion-text>

    </div>

  </div>

  <!-- Content -->

  <form [formGroup]="signupForm" (submit)="createAccount(signupForm)" class="main-content ion-padding">

    <ion-card class="signup-card">

      <ion-card-content>

        <!-- Name -->

        <ion-item  lines="none" class="input-item">
          <ion-icon
            slot="start"
            name="person-outline"
            color="primary">
          </ion-icon>

          <ion-input
            formControlName="name"
            placeholder="Full Name">
          </ion-input>
        </ion-item>

        <!-- Email -->

        <ion-item lines="none" class="input-item">
          <ion-icon
            slot="start"
            name="mail-outline"
            color="primary">
          </ion-icon>
          
          <ion-input
            type="email"
            formControlName="email"
            placeholder="Email@gmail.com">
          </ion-input>
        </ion-item>

        <!-- Password -->

        <ion-item lines="none" class="input-item">
          <ion-icon
            slot="start"
            name="lock-closed-outline"
            color="primary">
          </ion-icon>
          
          <ion-input
            type="password"
            formControlName="password"
            placeholder="Password">
          </ion-input>
        </ion-item>

        <ion-button
          expand="block"
          shape="round"
          type="submit"
          [disabled]="signupForm.invalid"
          class="signup-btn">

          Create Account

        </ion-button>

        <div class="bottom-text">

          <span>Already have an account?</span>

          <ion-button
            fill="clear"
            size="small"
            routerLink="/login">
            Login
          </ion-button>

        </div>

      </ion-card-content>

    </ion-card>

  </form>

</ion-content>