// Header Setup with background image
.headerUI {
  background-image: url('../../assets/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  display: flex;
  align-items: center;
    & .header-title-container {
      flex: 1;
      text-align: center;
      ion-text {
        font-size: 1.1rem;
        letter-spacing: 2px;
      }
    }
  
}

ion-content{
  --background: #F1F5F9;
}

.form-card {
  box-shadow: none;
  --background: transparent;
  border: 0;
  & ion-card-content{
  padding: 0;
  }
}

// Generic Form Inputs Formatting
.input-group {
  margin-bottom: 20px;
  & .form-label {
    display: block;
    color: #444444;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 3px;
  }
}

.category-group-container{
  display: flex;
  align-items: center;
  gap: 12px;
}

// Stylized Native Item Container for inputs
.custom-input-item {
  --background: #fdfdfd;
  --border-color: #e2e8f0;
  --border-style: solid;
  --border-width: 1px;
  --border-radius: 10px;
  --inner-padding-end: 12px;
  margin-bottom: 0;

  ion-input {
    font-size: 1.2rem;
    color: #333;
  }
  
  ion-textarea {
    font-size: 0.95rem;
    color: #333;
    --padding-top: 12px;
  }
}

// Category Row 
.category-group {
  display: flex;
  gap: 12px;
}

// Date-Time Layout Configuration
.datetime-row {
  display: flex;
  gap: 12px;
  width: 100%;

  .datetime-item {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--background);
    padding: 12px;
    margin: 0;
    .input-icon {
      color: #a0aec0;
      font-size: 1.3rem;
    }
  }
}
/* Target the inner native container */
ion-datetime-button::part(native) {
  background: var(--background);
  color: var(--color);
}

// Footer Save button colors
.footer-btn{
  --background: #4A3780;
  --color: white;
  & ion-text{
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: none;
    letter-spacing: normal;
  }
}
