.headerUI {
  background-image: url('../../assets/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  height: 230px;
  & .hui1{
    display: flex;
    align-items: center;
    & ion-text{
      flex: 1;
      padding-left: 4rem;
      font-size: 1rem;
      word-spacing: 3px;
    }
  }
  & .hui2{
    ion-text{
      & h1{
        margin-top: 1rem;
        font-weight: 600;
        text-align: center;
        font-size: 1.9rem;
      }
    }
  }
}
ion-text{
  letter-spacing: 1px;
}
ion-content{
  --background: #F1F5F9;
}
.main-content{
  padding: 9px;
  ion-text{
    font-size: 1.2rem;
    font-weight: 600;
  }
}
.m-card-1{
  margin-top: -80px;
  z-index: 10;
  margin-bottom: 1.4rem;
}
.section-title{
  letter-spacing: normal;
  font-size: 17px !important;
  font-weight: 700 !important;
  color: #1d1c1c;
}
.m-card-2{
  margin-top: 1.4rem;
}
.m-card{
  min-height: 120px;
  border-radius: 17px;
  box-shadow: none;
  & ion-card-content{
    padding: 0;
    & ion-list{
      padding: 0;
    }
  }
}
.list-item{
  display: flex;
  align-items: center;
  padding: 15px;
  padding-right: 1.8rem;
  border-bottom: 1px solid #ddd;
  & ion-item{
    flex: 1;
  }
  & ion-label{
    font-size: 17.2px;
    font-weight: 700;
    letter-spacing: -0.5px;
    color: #222020;
  }
  & p{
    margin-top: -6px;
    color: #444;

  }
}

.completed-list-item{
  & ion-label,p{
    text-decoration: line-through;
  }
}

.footer-btn{
  --background: #4A3780;
  --color: white;
  & ion-text{
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: none;
    letter-spacing: normal;
  }
}

ion-icon.loop-circle-icon {
  width: 24px;
  height: 24px;
  padding: 13px;
  border-radius: 50%;
  display: inline-flex;
  margin-right: 10px;
  background-color: currentColor;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.897), 
  );
}

ion-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Target the top-level element directly */
ion-item[disabled] {
  opacity: 0.6 !important; /* Forces the outer container to be darker/more visible */
}


ion-icon.thin-icon {
  /* Default is 32px. Lower values make the line thinner */
  --ionicon-stroke-width: 15px; 
}
