<ion-content [fullscreen]="true">

  <ion-header class="ion-no-border">
    <ion-toolbar>
      <div class="headerUI">
        <div class="hui1">
          <ion-button  color="light" shape="round">
            <ion-icon class="ion-padding" slot="icon-only" name="chevron-back-outline"></ion-icon>
          </ion-button>
          <ion-text color="light">October 20,2022</ion-text>
          <ion-button fill="clear"  routerLink="/setting" color="light" shape="round">
            <ion-icon size="large" class="ion-padding" slot="icon-only" name="apps-outline"></ion-icon>
          </ion-button>
        </div>
        <div class="hui2">
          <ion-text color="light">
            <h1>My Todo List</h1>
          </ion-text>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>
  
  <div class="main-content">

    <ion-card class="m-card-1 m-card">
      <ion-card-content class="ion-no-padding">
        <ion-list [scrollTop]="true"  lines="none">
          @for (item of pendingTasks(); track $index) {
            <div class="list-item">
              <ion-item expand="block">
                  <div style="display: flex;align-items: center;">
                    <ion-icon
                    size="large" 
                    slot="icon-only" 
                    [name]="item.category.cat"
                    [color]="item.category.color"
                    class="loop-circle-icon"
                    ></ion-icon>
                  </div>
                  <div>
                    <ion-label>{{item?.task}}</ion-label>
                    <p>{{item.time | date:'shortTime'}}</p>
                  </div>
                </ion-item>
                <ion-icon (click)="toggleCompletedStatus(item.task)" size="large" class="thin-icon" name="square-outline"></ion-icon>
                <!-- <ion-checkbox (ionChange)="toggleCompletedStatus(item.task)" [checked]="item.isCompleted" color="tertiary" slot="end"></ion-checkbox> -->
            </div>
          }@empty {
            <ion-text style="margin-top: 10px;text-align: center;font-size: 1rem;letter-spacing: 1px;">No pending tasks found.</ion-text>
          }
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-text class="ion-padding section-title">
      Completed
    </ion-text>

    <ion-card class="m-card-2 m-card">
      <ion-card-content>
        <ion-list lines="none">
          @for (item of completedTasks(); track $index) {
              <div class="list-item completed-list-item">
                <ion-item disabled>
                  <div style="display: flex;align-items: center;">
                    <ion-icon
                    size="large" 
                    slot="icon-only"
                    [name]="item.category.cat"
                    [color]="item.category.color"
                    class="ion-padding loop-circle-icon"
                    ></ion-icon>
                  </div>
                  <div>
                    <ion-label>{{item?.task}}</ion-label>
                    <p>{{item.time | date:'shortTime'}}</p>
                  </div>
                </ion-item>
                <!-- <ion-checkbox (ionChange)="toggleCompletedStatus(item.task)" [checked]="item.isCompleted" color="tertiary" slot="end"></ion-checkbox> -->
                <ion-icon (click)="toggleCompletedStatus(item.task)" size="large" color="tertiary" name="checkbox"></ion-icon>
              </div>
          } @empty {
             <ion-text style="margin-top: 10px;text-align: center;font-size: 1rem;letter-spacing: 1px;">the task is not completed yet</ion-text>
          }
        </ion-list>
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>

<ion-footer class="ion-no-border ion-padding">

  <ion-button routerLink="/task" expand="block" class="footer-btn" shape="round" size="large">
    <ion-text color="light">Add New Task</ion-text>
  </ion-button>

</ion-footer>